@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.logo{
    position: fixed;
}

.logo a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}