/* Media query for smaller screens */
@media (max-width: 768px) {
    .overview-box {
      flex-wrap: wrap;
    }
  
    .buyComponent,
    .procComponent,
    .ownComponent,
    .first-arrow,
    .second-arrow {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

.overview-box {
    white-space: nowrap;
    display: flex;  
    justify-content: center;
}

/* components */
.buyComponent{
    position: relative;
    top: 150px;
    margin-right: 100px; 
    left: 100px; 
}

.procComponent{
    position: relative;
    top: 150px;
    left: 30px; 
}

.ownComponent{
    position: relative;
    top: 150px;
    margin-right: 100px;
    left: 40px;
}

/* p tags */
.buyComponent p{
    position: relative;
    margin: 0;
    left: 60px;
    font-size: 48px;
}

.procComponent p{
    position: relative;
    margin: 0;
    left: 112px;
    font-size: 48px;
}

.ownComponent p {
    position: relative;
    margin: 0;
    left: 70px; 
    font-size: 48px;
}

/* arrows */
.first-arrow{
    font-size: 48px;
    position: relative;
    top: 105px;
    left: 60px;
    margin-right: 20px; 
}

.second-arrow {
    font-size: 48px;
    position: relative;
    top: 105px;
    left: 20px;
    margin-right: 20px; 
}

/* dash list */
.dash-list {
    list-style-type: none;
    font-size: 24px;
}
  
.dash-list li:before {
    content: "–";
    margin-right: 5px;
}

/* numbered list e.g. 1.) */
.custom-list {
    list-style: none;
    counter-reset: my-counter;
    font-size: 24px;
}
  
.custom-list li:before {
    content: counter(my-counter) ".)";
    counter-increment: my-counter;
    display: inline-block;
    width: 1em;
    margin-right: 0.5em;
}