.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  
  .hamburger span {
    background-color: black;
    width: 100%;
    height: 3px;
  }
  
  .open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .open span:nth-child(2) {
    opacity: 0;
  }
  
  .open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .menu {
    background-color: white;
    padding: 10px;
  }
  
  .menu-container {
    position: fixed;
    top: 10px; 
    right: 10px; 
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    padding: 5px 0;
    cursor: pointer;
  }
  